.divFormularioUpdate{
    min-height: 40vh;
    max-height: 40vh;
    min-width: 35vw;
    max-width: 35vw;
    background-color: #9966ff;
    border-radius: 50px;
    color: #f0f0f0;
    font-weight: bold;
    text-align: center;
}